.item p{
  margin-bottom: 2px;
}

#nav{
  width: 100%;
}

nav ul{
  list-style: none;
  gap: 2vh;
}

.homeCard p{ 
  max-width:  450px;
}

.form{ 
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.variaveis{ 
  display: flex;
  gap: 1vw;
}

.form-group{
  width: 100%;
}

.form-group input{
  width: 100%;
}


input[type = 'submti'], button{
  cursor: pointer;
}